extends ../layout
block content
    h1.mb-4 Create user
    if errors
        each error in errors
            alert.alert-danger= error
            br
    form(action="/users/create", method="POST")
        label(for="name") 
            b Name
        br
        input#name(type="text", name="name", placeholder="Name", value= values? values.name : "")
        br
        label(for="phone") 
            b Phone
        br
        input#phone(type="number", name="phone", placeholder="Phone", value= values? values.phone : "")   
        br 
        button.mt-2.btn.btn-primary Create